/* Start Palette */
/*
/* Backgrounds:
/* #5D5C61 Dark Gray
/* #878683 Mild Gray
/* #B1A296 Light Gray
/* #557A95 Dark Blue
/* #7395AE Light Blue
/*
/* Font:
/* #f5f5dc Beige
/* #ffdd7e Beige+Yellow
/* #ffb87e Salmon
/*
/* border and shadow:
/* black // inset shadow
/* #5D5C61 Dark Gray
/*
/* End Palette */


html {
    background-color: #B1A296;
}

body {
    font-size: 24px;
    font-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body, html {
    overflow: hidden;
}

.load {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0;
    z-index: +100;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(93, 92, 97, 1), rgba(44, 44, 44, 1));
}

.load > div {
    color: beige;
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

/* start top bar */
.top-bar-grid {
    display: grid;
    grid-template-columns: 70px 1fr 70px;
    grid-template-rows: 70px;
    background-color: #557A95;
    position: fixed;
    top: 5px;
    left: 5px;
    right: 5px;
    align-items: center;
    border: 1px solid #5D5C61;
    box-shadow: #5D5C61 1px 3px 5px;
    border-radius: 35px;
    min-width: 670px;
}

/* start portrait effects */

.top-left {
    margin: 0px;
    padding: 0px;
    height: 70px;
    width: 70px;
}

.top-left img.portrait {
    height: 60px;
    width: 60px;
    margin: 4px;
    border: 1px solid #5D5C61;
    border-radius: 30px;
    position: absolute;
    transition: 0.5s;
}

.top-left:hover img.portrait {
    height: 200px;
    width: 200px;
    margin: 4px;
    transition: 0.5s;
    box-shadow: #5D5C61 1px 2px 5px;
    border-radius: 0px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border-top-left-radius: 35px;
    z-index: +4;
}
.fold-menu {
    margin-top: 0px;
    width: 0px;
    height: 0px;
    visibility: hidden;
    list-style: none;
    padding: 0px;
}

.fold-menu div {
    position: relative;
    border: 1px solid #5D5C61;
    margin-top: -1px;
    margin-left: 4px;
    width: 60px;
    height: 60px;
    background-color: #557A95;
    box-shadow: #5D5C61 1px 2px 5px;
}

.fold-menu-option.last {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.fold-menu div:hover {
    background-color: #7395AE;
    box-shadow: black 0px 0px 3px inset;
    transition: 0.5s;
    cursor: pointer;
}

.fold-menu-option img{
    height: 40px;
    width: 40px;
    margin: 10px;
    border: none;
}
 
.fold-menu-option a{
    display: block;
    height: 100%;
    width: 100%;
}

.top-left:hover .fold-menu {
    margin-top: 206px;
    visibility: visible;
    transition: 0.5s;

}
/* end portrait effects */

/* start sections menu */
.top-middle {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0px;
    padding: 0px;
    height: 70px;
    width: 100%;
    overflow: hidden;
}

.top-section a:link,
.top-section a:visited,
.top-section a:hover,
.top-section a:active {
    text-decoration: none;
    color: #f5f5dc;
}

.top-section a{
    padding: 0px;
    width: 100%;
    height: 100%;
    color: #f5f5dc;
}

.top-section span{
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
    line-height: 70px;
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

.top-section:hover {
    cursor: pointer;
    background-color: #7395AE;
    box-shadow: black 1px 1px 3px inset;
    text-shadow: #557A95 1px 1px 2px;
    transition: 0.3s;
}

/* end sections menu */

/* start power button effects */

.power-button {
    width: 70px;
    height: 70px;
    display: inline-block;
}

.power-on-off-check {
    visibility: hidden;
    position: relative;
    display: none;
}

.power-on-off-check ~ .power-on-off-switch {
    position: relative;
    display: inline-block;
    margin: 4px 5px 6px 5px;
    width: 60px;
    height: 60px;
    background-image: url('../img/power-off.png');
    background-position: center -1px -1px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: +20;
    cursor: pointer;
}

.power-on-off-check ~ .black-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: black;
    z-index: +19;
    transition: 0.5s;
}

.power-on-off-check:checked ~ .power-on-off-switch {
    background-image: url('../img/power-on.png'); 
    transition: 0.5s;
}

.power-on-off-check:checked ~ .black-screen {
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
}



/* end power button effects */

/* end top bar */

/* start of content */

/* start general content */
.content { 
    background-color: #878683;
    border-radius: 35px;
    position: fixed;
    top: 85px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    padding: 35px 35px;
    border: 1px solid #5D5C61;
    box-shadow: #5D5C61 1px 3px 5px;
    min-width: 600px;
    min-height: 600px;
    overflow: hidden;
    z-index: -1;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.content::-webkit-scrollbar {
    display: none;
  }

/* home content */
.content#home {
    background-image: url('../img/landscape.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.quote-box {
    font-size: 45px;
    color: white;
    background: radial-gradient(rgba(0, 0, 0, 0.7),rgba(93, 92, 97, 0.7));
    border-radius: 35px;
    padding: 15px 50px;
    border: 1px solid rgba(93, 92, 97, 0.4);
    box-shadow: rgba(93, 92, 97, 0.3) 1px 3px 5px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: white 0px 1px 2px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.quote-text {
    font-style: italic;
    text-align: left;
}

.quote-signature {
    text-align: right;
}

/* end of home content */

/* start content about */

.content#about {
    background:radial-gradient(#557A95 ,#5D5C61);
    overflow: auto;
    top: 85px;
}

.about-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto auto 500px 1fr;
    border: solid 2px;
    border-image: linear-gradient( 90deg, rgb(0, 0, 0,0), rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0)) 1;
}

.about-subcontent {
    grid-column-start: 2;
    grid-column-end: 5;
    border-top: solid 2px;
    border-image: linear-gradient( 90deg, rgb(0, 0, 0,0), rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0)) 1;
    padding: 15px;
}

#about-subcontent-skills{
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

#about-subcontent-language{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.about-left {
    margin-right: 15px;
    padding: 15px;
}

.about-right {
    display: inline-block;
    margin-left: 15px;
    background-color: none;
    padding: 15px;
}

.content#about p{
    margin-left: 15px;
    color: beige;
    font-size: 20px;
    line-height: 30px;
}

.content#about h1{
    color: #ffb87e;
    font-size: 36px;
    text-decoration: underline;
    text-align: center;
}

.content#about #detail-title,
.content#about #detail-language
{
    margin-left: -15px;
    color: #ffdd7e;
    font-size: 24px;
}

.about-portrait {
    display: inline-block;
    width: 280px;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.about-portrait img{
    /*display: inline-block;*/
    position: relative;
    border: #B1A296 2px solid;
    border-radius: 140px;
    width: 276px;
    height: 276px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

/* end content about */

/* start content work */

.content#work {
    background:radial-gradient(#557A95 ,#5D5C61);
    overflow: auto;
    top: 85px;
}

/* end content work */

/* start content contact */

.content#contact {
    background:radial-gradient(#557A95 ,#5D5C61);
    overflow: auto;
    top: 85px;
}

.contact-grid {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    border: solid 2px;
    border-image: linear-gradient( 90deg, rgb(0, 0, 0,0), rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0)) 1;
}

.contact-icon {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 40px;
}

.contact-icon:hover {
    background: radial-gradient(rgb(255, 184, 126,1), rgb(115, 149, 174, 0),rgb(115, 149, 174, 0));
}

.contact-quote {
    display: block;
}

.contact-quote p{
    font-size: 36px;
    line-height: 50px;
    color: #ffb87e;
    text-align: center;
}

.contact-quote span{
    font-size: 36px;
    line-height: 50px;
    color: #ffdd7e;
    text-align: center;
}


/* end content contact */

/* end of content */