html {
    background-color: gray;
}

.top-bar-grid{
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 70px;
    background-color: cornflowerblue;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    align-items: center;
    border-bottom: 1px solid black;
    box-shadow: black 0px 3px 5px;
}

/* portrait effects */
.mi-foto {
    margin: 0px;
    padding: 0px;
    height: 70px;
    width: 70px;
}

.mi-foto img {
    height: 60px;
    width: 60px;
    margin: 4px;
    border: 1px solid black;
    border-radius: 30px;
    position: absolute;
    transition: 0.5s;
}

.mi-foto:hover img {
    height: 200px;
    width: 200px;
    margin: 4px;
    transition: 0.5s;
    box-shadow: black 1px 2px 5px;
    border-radius: 0px;
    border-bottom-right-radius: 100px;
}
.fold-menu {
    margin-top: 0px;
    width: 0px;
    height: 0px;
    visibility: hidden;
    list-style: none;
    padding: 0px;
}

.fold-menu li {
    position: relative;
    border: 1px solid black;
    margin-top: -1px;
    margin-left: 4px;
    width: 60px;
    height: 60px;
    background-color: brown;
    box-shadow: black 1px 2px 5px;
}

.fold-menu-last {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.fold-menu li:hover {
    background-color: blueviolet;
    box-shadow: black 0px 0px 3px inset;
    transition: 0.5s;
}

.mi-foto:hover .fold-menu {
    margin-top: 206px;
    visibility: visible;
    transition: 0.5s;

}
/* end portrait effects */

.top-menu {
    margin: 0px;
    padding: 0px;
    height: 60px;
    width: 100%;
}

.content {
    margin-top: 80px;
}